.container {
    height: 500px;
    width: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.block {
    width: 100px;
    height: 100px;
}

.block:nth-child(1){
    background-color: cyan;
}

.block:nth-child(2){
    background-color: magenta;
}

.block:nth-child(3){
    background-color: yellow;
}

